{% extends 'base.html' %}
{% block title %}{{tag.name}}{% endblock %}
{% block content %}

<div class="row justify-content-start">
    <h1>{{tag.name}}</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">

        <a href="/tags" class="btn btn-outline-primary">Cancel</a>

        <form action="/tags/{{tag.id}}/edit">
            <button id="edit" class="btn btn-primary ">Edit</button>
        </form>

        <form action="/tags/{{tag.id}}/delete" method="POST">
            <button id="delete" class="btn btn-danger">Delete</button>
        </form>

    </div>
</div>
{% endblock %}